@import 'constants.scss';

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.4)), url('https://source.unsplash.com/3i7KTw_Y3pM/1000x667');
  background-position: center center;
  background-size: cover;  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  box-shadow: inset 0 0 5px 0 $colorText;
}

.title {
  font-size: $fontSize * 2;
  font-weight: 700;
  font-family: "Roboto Slab", monospace;
  color: $color2;
  text-shadow: 1px 1px $color1;
}
